<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <h1><center>Feedback page</center></h1>
        <link rel="stylesheet" href="../style.css">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">   
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
         </head>

    <body>

        <form id="feedbackform" method="POST">
        <div class="text">
        <center>
          <textarea id="feedback" rows="4" cols="50">Input text here</textarea>
        </div>
            <div class="rating" >
            <input type="radio" name="star" id="1" value="1"> <label for ="1"></label>
            <input type="radio" name="star" id="2" value="2"><label for ="2"></label>
            <input type="radio" name="star" id="3" value="3"><label for ="3"></label>
            <input type="radio" name="star" id="4" value="4"><label for ="4"></label>
            <input type="radio" name="star" id="5" value="5"><label for ="5"></label>
        </div>
        <div class = "submit">
        <center>
        <input type="submit">
        </div>

    </form>
    </body>
    <script>
        $( "#feedbackform" ).submit(async ( event ) => {
        event.preventDefault();
        alert( "Submitted" );
        var feedback = $('#feedback').val();
        var star = $("input[name='star']:checked").val();
        var serviceURL = "http://127.0.0.1:5000/Feedback";
        try{
            const response =
            await fetch(serviceURL, {method: 'POST',
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify ({ feedback: feedback, star:star})
        }
        );
        }
        catch{

        }

}
);
</script>

</html>