<!DOCTYPE html>
<html lang="en">

<head>
    <title>Welcome to Restaurant City</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <!-- Navigation Home -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
        <a class="navbar-brand" href="#">Restaurant City</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Cart">Cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Feedback">Feedback</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Contact">Contact</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>
    

    <div id='top-section' style='text-align:center'>
        
    <!-- <h1>Welcome to Restaurant City</h1> -->
        <hr>
    </div>
    <div id='main-section' height='100%'; width='100%'>
        <div id='Home'>
            <div id='cart-form'>
                <div class="mx-auto" style="width: 200px;"></div>
                <form id='order-form'>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-6 mb-4" >
                              <div class="headimage" style="background-image: url('../img/restaurantcity.jpg'); background-size: 100% 100% ;background-repeat:no-repeat;">
                                <div class="container">
                                  <h1 class="display-4" ></h1>
                                  <p class="lead"></p>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="row" id='menu-table'>
                        </div>
                    </div>

                    <!-- <table border='1' id='menu-table' class="scrollable">
                        <thead>
                            <tr align="center">
                                <th style='display:None'>Item id</th>
                                <th>Item name</th>
                                <th>Item image</th>
                                <th>Item price</th>
                                <th>Item number</th>
                            </tr>
                        </thead>
                    </table> -->
                    <br>
                    <div class="row" align='center'>
                        <div class="col-lg-12 col-md-6 mb-4">
                            <button id="save_cart" input type="submit" class="btn btn-lg btn-warning ">Save To Cart</button>
                            <button id="submit_cart" input type="submit" class="btn btn-lg btn-warning ">Check Out Cart</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class='row'><br><br></div>
        </div>

        <!-- Footer -->
        <footer class="page-footer font-small blue fixed-bottom">
        <div class="footer-copyright text-center py-3">© 2020 Copyright: RestaurantCity</div>
        </footer>

        <!-- Cart -->
        <div id='Cart'>
            <main class="mt-2 pt-2">
                <div class="container wow fadeIn">
                  <h2 class="my-5 h2 text-center">Your Cart</h2>
                  <div class="row">
                    <div class="col-md-8 mb-4">
                      <div id ='saved-cart' class="card">
                        <form class="card-body">
                        <table id='saved-cart-table' border="1" style='width:100%'>
                            <thead style='text-align:center'>
                                <tr>
                                    <th>Item name</th>
                                    <th>Item price</th>
                                    <th>Item number</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                        <p id='cart-update-outcome'></p>
                          <div class="md-form mb-2">
                            <label for="address" class="">Address</label>
                            <input type="text" id='address' class="form-control" placeholder="1234 Main St">
                          </div>
                          <div class="md-form mb-2">
                            <label for="contact_person" class="">Name of Person Of Contact</label>
                            <input type="text" id='contact_person' class="form-control" placeholder="Your Name">
                          </div>
                          <div class="md-form mb-2">
                            <label for="address" class="">Contact Number</label>
                            <input type="text" id='contact_number' class="form-control" placeholder="Contact No">
                          </div>
                          <hr class="mb-4">
                          <button class="btn btn-warning btn-lg btn-block" id='payment' type="submit">Continue to checkout</button>
                        </form>
                      </div>
                    </div>
                    <div class="col-md-4 mb-4">
                      <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Your cart</span>
                        <span class="badge badge-secondary badge-pill" id='Cnt'>0</span>
                      </h4>
                      
                      <ul class="list-group mb-3 z-depth-1">
                        <div id='subTotal'></div>
                        <li class="list-group-item d-flex justify-content-between bg-light">
                          <div class="text-success">
                            <h6 class="my-0">Promo code</h6>
                            <small>EXAMPLECODE</small>
                          </div>
                          <span class="text-success">-$0</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                          <span>Total (SGD)</span>
                          <strong id='TotalAmt'>$0.00</strong>
                        </li>
                      </ul>
                      <form class="card p-2">
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Promo code" aria-label="Recipient's username" aria-describedby="basic-addon2">
                          <div class="input-group-append">
                            <button class="btn btn-secondary btn-md waves-effect m-0" type="button">Redeem</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </main>
        </div>

        <!-- Feedback Form -->
        <!-- <div class="imagebg">-->
            <div class="row" style= "margin-top: 40px">
            <div class="container-fluid">
            <div id='Feedback' class="container" class='center'>
                    <div class="row"><br><br></div>
                    <div id='feedback' class="col">
                        <h2>Feedback</h2>
                        <p>
                            <h5>Please provide your feedback below:</h3>
                        </p>
                        <form id="feedback-form" role="form" method="post">
                        <div id='feedback-rating' class="form">
                        <label>How do you rate your overall experience? Rate from 1 to 5</label>
                            <p>
                                <label class="radio-inline">
                                <input type="radio" name="experience" id="feedback-rating-score" value="1" >
                                1 - Highly Dissatisfied 
                                </label>
                                <br>
                                <label class="radio-inline">
                                    <input type="radio" name="experience" id="feedback-rating-score" value="1" >
                                2 - Dissatisfied 
                                </label>
                                <br>
                                <label class="radio-inline">
                                    <input type="radio" name="experience" id="feedback-rating-score" value="1" >
                                3 - Average 
                                </label>
                                <br>
                                <label class="radio-inline">
                                <input type="radio" name="experience" id="feedback-rating-score" value="2" >
                                4 - Satisfied
                                </label>
                                <br>
                                <label class="radio-inline">
                                <input type="radio" name="experience" id="feedback-rating-score" value="3" >
                                5 - Good
                                </label>
                                <br>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="comments">
                                Comments:</label>
                            <textarea class="form-control" type="textarea" name="comments" id="comments" placeholder="Your Comments" maxlength="1000" rows="7"></textarea>
                        </div>
                    </div>
                    <div class="row"><br></div>
                    <div class="row">
                        <div class="col">                    
                            <button type="reset" class="btn btn-lg btn-warning ">Reset</button>
                            <button id='submit-feedback' class="btn btn-lg btn-warning " >Post </button>
                        </div>
                    </div>
                    <div class="row"><br><br><br><br><br><br></div>
            </div>
            </form>
            </div>
        </div>

<!--         
        <div id='Feedback'>
            <div class="col-lg-12 col-md-6 mb-4" >
            <div id='feedback'>
                <form id='feedback-form'>
                    <textarea name="" id="feedback-content" cols="50" rows="10"></textarea>
                    <br><br>
                    <div id='feedback-rating'> -->
                        <!-- https://codepen.io/hesguru/pen/BaybqXv?__cf_chl_jschl_tk__=f4dfdd0aeaf0b754b928edc09689008c5e3d418a-1584512208-0-AeK94-NiWOJxKF2DRTkhuQJMdOQNAxPVaCVS-5AJAOo5TSTv3azvDHJf8hGoZeZe9u6Kk_3ccd7FOsb9bDv1qYfyj-Rk40iSQDYBBlXptypfsotqRa8DsLMgXwTFTUd8mS3c77cqau8JaSDmlRNNFI9y3jT0zU6HELoo67DEoqJrHUWoTzsnuoXfeNWZZi5NmKttbFP-qQp2wepQX52rj3Ibg_OtUUpUbZfVIuZgvG8e9hMoB28B--_8wj9qx__mdzl-FUp_zoSCaNoaEBeprXJLwnxA_6bdATVgnMeY0Oet2mm6r5zMsm3i9TjNhGpTKnHt_sl5ppR8t7JN7elhPnhnOj3z3D2IUm1_Ee6KXjkx -->
                        <!-- Enter your rating out of 5: 
                        <input type="number" name="" id="feedback-rating-score" min='1'max='5'>
                    </div>
                    <br>
                    <button id='submit-feedback'>Submit Your Feedback</button>
                    <button type="reset">Reset</button>
                </form>
                
            </div>
        </div>
        </div> --> 
    
        <!-- <div id='right-panel' style='margin:0 0 0 80px;;display:inline-table;'>
            <div id='current-order'>
                <h2 style='text-align:center'>Your ongoing orders</h2>
                <table id='ongoing-order-table' border="1" style='width:100%'>
                </table>
            </div>
        </div> -->
    
     <!-- CONTACT -->
     <section id="contact" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
            <div class="wow fadeInUp col-md-6 col-sm-12" data-wow-delay="0.4s">
                    <div id="google-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7952471658855!2d103.84722961462221!3d1.2975487990536225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da19a340000001%3A0xdb2ba83d5e574a35!2sSMU%20School%20of%20Information%20Systems!5e0!3m2!1sen!2ssg!4v1585730574901!5m2!1sen!2ssg" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>    
                <div class="col-md-6 col-sm-12">
                    <div class="col-md-12 col-sm-12">
                        <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                                <h2>Contact Us</h2><br>
                        </div>
                    </div>
                    <form action="#" method="post" class="wow fadeInUp" id="contact-form" role="form" data-wow-delay="0.8s">
                        <h6 class="text-success">Your message has been sent successfully.</h6>
                        <h6 class="text-danger">E-mail must be valid and message must be longer than 1 character.</h6>
                        <div class="col-md-6 col-sm-6">
                            <input type="text" class="form-control" id="cf-name" name="name" placeholder="Full name">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <input type="email" class="form-control" id="cf-email" name="email" placeholder="Email address">
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <input type="text" class="form-control" id="cf-subject" name="subject" placeholder="Subject">
                            <textarea class="form-control" rows="4" id="cf-message" name="message" placeholder="Ask us anything!"></textarea>
                            <button type="submit" class="btn btn-lg btn-warning btn-block" id="cf-submit" name="submit">Send Message</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>
       </section> 
       
       <div class="container">
            <div class="row">

                 <div class="col-md-3 col-sm-8">
                      <div class="footer-info">
                           <div class="section-title">
                                <h2 class="wow fadeInUp" data-wow-delay="0.2s">Find us</h2>
                           </div>
                           <address class="wow fadeInUp" data-wow-delay="0.4s">
                                <p>80 Stamford Road,<br>Singapore 178902</p>
                           </address>
                      </div>
                 </div>

                 <div class="col-md-3 col-sm-8">
                      <div class="footer-info">
                           <div class="section-title">
                                <h2 class="wow fadeInUp" data-wow-delay="0.2s">Reservation</h2>
                           </div>
                           <address class="wow fadeInUp" data-wow-delay="0.4s">
                                <p>+65 6880-9876 | 9826-7843</p>
                                <p><a href="mailto:info@company.com">restaurantcity@company.com</a></p>
                                <p>LINE: restaurantcity </p>
                           </address>
                      </div>
                 </div>

                 <div class="col-md-3 col-sm-8">
                      <div class="footer-info footer-open-hour">
                           <div class="section-title">
                                <h2 class="wow fadeInUp" data-wow-delay="0.2s">Open Hours</h2>
                           </div>
                           <div class="wow fadeInUp" data-wow-delay="0.4s">
                                <p>Monday: Closed</p>
                                <div>
                                     <strong>Tuesday to Friday</strong>
                                     <p>7:00 AM - 9:00 PM</p>
                                </div>
                                <div>
                                     <strong>Saturday - Sunday</strong>
                                     <p>11:00 AM - 10:00 PM</p>
                                </div>
                           </div>
                      </div>
                 </div> 
                 
                 <div class="col-md-3 col-sm-8">
                    <div class="footer-info footer-open-hour">
                         <div class="section-title">
                              <h2 class="wow fadeInUp" data-wow-delay="0.2s">Socials</h2>
                         </div>
                         <div class="wow fadeInUp" data-wow-delay="0.4s">
                              <p>Instagram: restaurantcity555</p>

                         </div>
                    </div>
                </div>   

            </div>
       </div><br><br><br><br><br><br>

       

    <!-- End of Contact -->

    <!-- <div id='hidden-section' width='100%'>
        <div id='cart-info' style='width:40%;display:inline-table'>
            <h2>Your ordered food items</h2>
            <table border='1' id='added-cart-table'>
                <thead>
                    <tr align="center">
                        <th style='display:None'>Item id</th>
                        <th>Item name</th>
                        <th>Item image</th>
                        <th>Unit price</th>
                        <th>Quantity ordered</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div id='customer-info' style='margin:0 0 0 100px;width:50%;display:inline-table'>
            <h2>Please key in your information</h2>
            <form onsubmit="return false" method="POST">
                <table style='padding:10px 0 0 0'>
                    <tr>
                        <td>Delivery Address</td>
                        <td><input type="text" id='address'></td>
                    </tr>
                    <tr>
                        <td>Contact Person</td>
                        <td><input type="text" id='contact_person'></td>
                    </tr>
                    <tr>
                        <td>Contact Number</td>
                        <td><input type="text" id='contact_number'></td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <td colspan="2"><input type="submit" value='Proceed to Payment' id='payment'></td>
                    </tr>
                </table>
            </form>
        </div>
    </div> -->
</body>


<script>
    const userid = 'a';
    // helper function 
    String.prototype.format = function () {
        var i = 0,
            args = arguments;
        return this.replace(/{}/g, function () {
            return typeof args[i] != 'undefined' ? args[i++] : '';
        });
    };


    // Add active class to the current button (highlight it)
    var header = document.getElementById("navbarResponsive");
    var btns = header.getElementsByClassName("nav-link");
    // initalize page
    $('#Home').show();
    $('#Cart').hide();
    $('#Feedback').hide();
    $('#Contact').hide();
    
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function() {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
            $('#Home').hide();
            $('#Cart').hide();
            $('#Feedback').hide();
            $('#Contact').hide();
            $('#main-section').show();
            $('#hidden-section').hide();
            if(this.text=='Home'){
                $('#Home').show();
            }else if(this.text=='Cart'){
                $('#Cart').show();
            }else if(this.text=='Feedback'){
                $('#Feedback').show();
            }else if(this.text=='Contact'){
                $('#Contact').show();
            }
        })
    }

    // function create_table()
    function create_menu_table(use_cart) {
        $('#menu-table').empty();
        for (const item of window.menu_items) {
            var qty = 0;
            if ((window.cart_items != null) & (use_cart == true)) {
                for (var cart_item of window.cart_items) {
                    // console.log(cart_item.menuId, item.menuId);
                    if (cart_item.menuId == item.menuId) {
                        qty = cart_item.quantity;
                    }
                }
                $('#cart-update-outcome').text('Saved cart is loaded into the order table')
            }
            // console.log(qty);
            order_num_tag = item.menuId + '_qty'
            eachRow="<div class='col-lg-4 col-md-6 mb-4'>"+
            "<div class='card h-100'>"+
              "<a href='#'><img class='card-img-top' src='../img/{}.jpg' alt=''></a>".format(item.menuId) +
              "<div class='card-body'>"+
                "<h4 class='card-title'>"+
                  "<input type='hidden' name='menuId' value='{}'>{} <input type='hidden' name='foodName' value='{}'>".format(item.menuId,item.foodName, item.foodName)+
                "</h4>"+
                "<h5>${} <input type='hidden' name='price' value={}></h5>".format(item.price, item.price)+
                "<p class='card-text'>Quantity: <input type='number' min='0' max='10' name='quantity' id='{}' value={}></p>".format(order_num_tag, qty)+
              "</div>"+
              "<div class='card-footer'>"+
                "<small class='text-muted'>{}</small>".format(item.menuId)+
              "</div>"+
            "</div>"+
          "</div>";
            $('#menu-table').append(eachRow);
        }
    }
    // load menu
    $(async () => {

        $('#hidden-section').hide();
        var serviceURL = "http://127.0.0.1:5001/menu";

        try {
            const response =
                await fetch(
                    serviceURL, {
                    method: 'GET',
                }
                );
            const data = await response.json();
            const menu_items = data.menu; //the arr is in data.items of the JSON data
            window.menu_items = menu_items;
            //console.log(menu_items);
            if (!menu_items || !menu_items.length) {
                alert('Menu is empty or undefined.')
            } else {
                create_menu_table(false);
            }
        } catch (error) {
            // Errors when calling the service; such as network error, 
            // service offline, etc
            alert
                ('There is a problem retrieving books data, please try again later.<br />' + error);

        } // error

    });



    // load saved cart
    $(async () => {
        var serviceURL = "http://127.0.0.1:5002/cart/{}".format(userid);

        try {
            const response =
                await fetch(
                    serviceURL, {
                    method: 'GET'
                }
                );
            const data = await response.json();
            var cart_items = data.cart; //the arr is in data.items of the JSON data
            window.cart_items = cart_items;
            if (cart_items) {
                var totalAmt=0;
                var count=0;
                var rows = "";
                for (const item of cart_items) {
                    var itemUrl = "http://127.0.0.1:5001/menu/{}".format(item.menuId);
                    const response =
                        await fetch(
                            itemUrl, {
                            method: 'GET'
                        }
                        );
                    const item_data = await response.json();
                    // console.log(item.men);
                    var item_name = item_data.foodName;
                    var item_price = item_data.price;
                    
                    eachRow = "<tbody><tr align='center'>" +
                        "<td style='display:none'><input type='hidden' name='menuId' value='{}'>{}</td>".format(item.menuId, item.menuId) +
                        "<td>{}<input type='hidden' name='foodName' value='{}'></td>".format(item_name, item_name) +
                        "<td>${}<input type='hidden' name='price' value='{}'></td>".format(item_price, item_price) +
                        "<td>{}<input type='hidden' name='quantity' value='{}'></td>".format(item.quantity, item.quantity) +
                        // delete button
                        "<td><button class='button' onclick=deleteitem('{}')>Remove</td>".format(item.menuId) + 
                        "</tr></tbody>";
                    
                    $('#saved-cart-table').append(eachRow);
                    
                    subtotal=item.quantity*item_price;
                    row="<li class='list-group-item d-flex justify-content-between lh-condensed'>"+
                            "<div>"+
                                "<h6 class='my-0'>{}</h6>".format(item_name)+
                                "<small class='text-muted'>Quantity: {} X ${}</small>".format(item.quantity,item_price)+
                            "</div>"+
                            "<span class='text-muted'>${}</span>".format(subtotal)+
                        "</li>";
                    $('#subTotal').append(row);
                    totalAmt+=subtotal;
                    count++;
                }
                $('#saved-cart-table').append("<tbody><td colspan='3'></td><td align='center'><input type='button' onclick=delete_cart_data() value='Clear Cart'></td></tbody>");
                $('#Cnt').text(count);
                $('#TotalAmt').text('$'+totalAmt);
                
            }
        } catch (error) {
            // Errors when calling the service; such as network error, 
            // service offline, etc
            alert
                ('There is a problem retrieving cart data, please try again later.<br />' + error);
        } // error
    });


    // delete item from saved cart 
    async function deleteitem(menuId) { 
        var serviceURL = "http://127.0.0.1:5002/delete-cart-item/{}&{}".format(userid,menuId);
        try {
            const response =
                await fetch(
                    serviceURL, {
                    method: 'GET'
                }
            );
            if (response.status == 200) {
                    $('#saved-cart-table tbody').empty();
                    $('#subTotal').empty();
                    location.reload(true);

                };
        } catch (error) {
            // Errors when calling the service; such as network error, 
        // service offline, etc
            alert
                ('There is a problem deleting item, please try again later.<br />' + error);
        }
    }
    // load current orders
    // async function load_orders() {
    //     var serviceURL = "http://127.0.0.1:6666/order/".format(userid);

    //     try {
    //         const response =
    //             await fetch(
    //                 serviceURL, {
    //                 method: 'GET'
    //             }
    //             );
    //         const data = await response.json();
    //         var idx = 1;
    //         for (var order of data) {
    //             each
    //             eachRow = "<tbody><tr align='center'>" +
    //                 "<td style='display:none'><input type='hidden' name='menuId' value='{}'>{}</td>".format(item.menuId, item.menuId) +
    //                 "<td>{}<input type='hidden' name='foodName' value='{}'></td>".format(item_name, item_name) +
    //                 "<td>${}<input type='hidden' name='price' value='{}'></td>".format(item_price, item_price) +
    //                 "<td>{}<input type='hidden' name='quantity' value='{}'></td>".format(item.quantity, item.quantity) +
    //                 "</tr></tbody>";
    //             $('#ongoing-order-table').append(eachRow);

    //         }
    //     } catch (error) {
    //         // Errors when calling the service; such as network error, 
    //         // service offline, etc
    //         alert
    //             ('There is a problem retrieving cart data, please try again later.<br />' + error);
    //     } // error

    // };

    async function delete_cart_data() {
        if (confirm("Confirm delete saved cart?")) {
            var serviceURL = "http://127.0.0.1:5002/delete-cart/{}".format(userid);
            //console.log(serviceURL);
            try {
                const response =
                    await fetch(
                        serviceURL, {
                        method: 'GET'
                    }
                    );
                if (response.status == 200) {
                    $('#saved-cart-table tbody').empty();
                    $('#subTotal').empty();
                    location.reload(true);
                };
            } catch (error) {
                alert
                    ('There is a problem deleting cart data, please try again later.<br />' + error);
            }
        }
    }

    $('#save_cart').click(async function (e) {
        e.preventDefault();
        var idx = 0, has_item = false;
            data = $('#order-form').serializeArray().reduce(function (obj, item) {
                if (item.name == 'menuId') {
                    sub_obj = {};
                    sub_obj[item.name] = item.value;
                }
                if (item.name == 'quantity') {
                    sub_obj[item.name] = parseInt(item.value);
                    if (item.value > 0) {
                        has_item = true;
                        // console.log(item.name);
                        obj.push(sub_obj);
                    }
                }
                return obj;
            }, []);

        // validate if select any item
        if (has_item == false) {
            alert('There is no item added to the cart.');
            return
        }

        // validate if saved cart already contains items
        var to_save = true;
        if (window.cart_items.length > 0) {
            to_save = confirm('There are items in the saved cart currently? Do you want to delete them and saved the current cart?');
        }

        if (to_save) {

            var body = {};
            body["items"] = data;
            console.log(data);
            var serviceURL = "http://127.0.0.1:5002/add-cart/{}".format(userid);
            try {
                const response =
                    await fetch(
                        serviceURL, {
                        method: 'POST',
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(body)
                    });
                if (response.status == 201) {
                    alert('cart saved successfully');
                    location.reload(true);
                };
            } catch (error) {
                alert
                    ('There is a problem deleting cart data, please try again later.<br />' + error);
            }
        }
    });


    $("#submit_cart").click(async function (e) {
        e.preventDefault();
        var idx = 0, has_item = false;
            data = $('#order-form').serializeArray().reduce(function (obj, item) {
                if (item.name == 'menuId') {
                    sub_obj = {};
                    sub_obj[item.name] = item.value;
                }
                if (item.name == 'quantity') {
                    sub_obj[item.name] = parseInt(item.value);
                    if (item.value > 0) {
                        has_item = true;
                        // console.log(item.name);
                        obj.push(sub_obj);
                    }
                }
                return obj;
            }, []);

        // validate if select any item
        
        if (has_item == true) {
            var to_save = true;
            if (window.cart_items.length > 0) {
                to_save = confirm('There are items in the saved cart currently? Do you want to overwrite the current cart?');
            }
            if (to_save) {

                var body = {};
                body["items"] = data;
                console.log(data);
                var serviceURL = "http://127.0.0.1:5002/add-cart/{}".format(userid);
                try {
                    const response =
                        await fetch(
                            serviceURL, {
                            method: 'POST',
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify(body)
                        });
                    if (response.status == 201) {
                        alert('Item saved to cart successfully');
                        location.reload(true);
                    };
                } catch (error) {
                    alert
                        ('There is a problem deleting cart data, please try again later.<br />' + error);
                }
            }
        }
        $('#Home').hide();
        $('#Cart').show();

        

    })
    // $("#submit_cart").click(function (e) {
    //     e.preventDefault();
    //     $('#main-section').hide();
    //     $('#hidden-section').show();
    //     var total = 0,
    //         idx = 0,
    //         data = $('form').serializeArray().reduce(function (obj, item) {
    //             if (item.name == 'menuId') {
    //                 obj[idx] = {};
    //             }
    //             obj[idx][item.name] = item.value;
    //             switch (item.name) {
    //                 case 'menuId':
    //                     subtotal = 1;
    //                     break;
    //                 case 'price':
    //                     subtotal *= item.value;
    //                     break;
    //                 case 'quantity':
    //                     subtotal *= item.value;
    //                     obj[idx]['subtotal'] = subtotal;
    //                     idx++;
    //                     break;
    //             }
    //             return obj;
    //         }, {});
    //     // console.log(data);

    //     var total = 0;
    //     $("#added-cart-table tbody").empty()
    //     for (const [key, value] of Object.entries(data)) {
    //         if (value['quantity'] > 0) {
    //             console.log(value);
    //             row = '<tbody><tr align="center">' +
    //                 '<td style="display:none">{}</td>'.format(value['menuId']) +
    //                 '<td>{}</td>'.format(value['foodName']) +
    //                 '<td><img src="../img/{}.jpg" height=100 width=100></td>'.format(value['menuId']) +
    //                 '<td>{}</td>'.format(value['price']) +
    //                 '<td>{}</td>'.format(value['quantity']) +
    //                 '<td>${}</td>'.format(value['subtotal']) +
    //                 '</tr></tbody>';
    //             total += value['subtotal'];
    //             $("#added-cart-table").append(row);
    //         }
    //     }
    //     row = '<tbody><tr><td align="right" colspan=4><b>Total Amount</b></td><td align="center"><b>${}</b></td></tr></tbody>'.format(total);
    //     $("#added-cart-table").append(row);
    // });

    $("#payment").click(async function (event) {
        event.preventDefault();
        var address = $('#address').val(),
            contact_number = $('#contact_number').val(),
            contact_person = $('#contact_person').val(),
            cart_table = document.getElementById("added-cart-table"),
            order_items = [];
        item_field = ['menuId', 'foodName', 'image', 'price', 'quantity'];
        total = 0;
        for (var i = 1; i < cart_table.rows.length - 1; i++) {
            var row = cart_table.rows.item(i).cells,
                item = {};
            for (var j = 0; j < row.length - 1; j++) {
                if (j != 2) {
                    item[item_field[j]] = row.item(j).innerHTML;
                }
            }
            order_items.push(item);
            total += item['price'] * item['quantity']

        }

        var order = {
            'userId': userid,
            'deliveryAddress': address,
            'contactNumber': contact_number,
            'customerName': contact_person,
            'orderItems': order_items,
            'totalAmount': total
        };
        //console.log(order);

        serviceURL = 'http://127.0.0.1:5555/payment'
        try {
            const response =
                await fetch(
                    serviceURL, {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(order)
                }
                );
            const result = await response;
            if (result.status == 400) {
                alert('Payment Failed');
            } else {
                alert('Payment succeed');
                // window.location.href = "http://www.w3schools.com"; // for redirect 
                return;
            }
        } catch (error) {
            // Errors when calling the service; such as network error, 
            // service offline, etc
            alert
                ('There is a problem with payment, please try again later.<br />' + error);

        } // error

    })

    $("#submit-feedback").click(async function (event) {
        event.preventDefault();
        var content = $('#feedback-content').val(),
            rating = $('#feedback-rating-score').val(),
            feedback = {
                'feedback': content,
                'star': rating
            };

        var serviceURL = 'http://127.0.0.1:5556/feedback';
        try {
            const response =
                await fetch(
                    serviceURL, {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(feedback)
                }
                );
            const result = await response;

            if (result.status == 201) {
                alert('Feedback Submitted');
            }
        } catch (error) {
            // Errors when calling the service; such as network error, 
            // service offline, etc
            alert
                ('There is a problem with feedback submission, please try again later.<br />' + error);

        } // error

    })
</script>


</html>