<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/main.css">
    <title>Restaurant City Management</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="#" style="color: white">Restaurant City</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive" style="color: white">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#" style="color: white">Order</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Feedback" style="color: white">Feedback</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id='main-container'>
        <div class="header">Restaurant City Management</div>
        <div class="container">
            <table id="ordertable" cellspacing="10">
                <tr align="center">
                    <th>Order ID</th>
                    <th>Food Name - Quantity</th>
                    <th>Customer Name</th>
                    <th>Contact Number</th>
                    <th>Date/Time</th>
                    <th>Status</th>
                    <th>Driver ID</th>
                    <th>Action</th>
                </tr>
            </table>
        </div>
        <div class="container-feedback">
            <table id="feedbacktable" cellspacing="100" align="center">
                <tr>
                    <th>Feedback ID</th>
                    <th>Date Time</th>
                    <th>Feedback</th>
                    <th>Rating</th>
                </tr>
            </table>
        </div>
    </div>
</body>

<script>
    // Add active class to the current button (highlight it)
    var header = document.getElementById("navbarResponsive");
    var btns = header.getElementsByClassName("nav-link");
    // initalize page
    $('#ordertable').show();
    $('#feedbacktable').hide();
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", async function () {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
            $('#ordertable').hide();
            $('#feedbacktable').hide();
            if (this.text == 'Order') {
                $('#ordertable').show();
            } else if (this.text == 'Feedback') {
                $('#feedbacktable').show();
            }
        })
    }

    String.prototype.format = function () {
        var i = 0,
            args = arguments;
        return this.replace(/{}/g, function () {
            return typeof args[i] != 'undefined' ? args[i++] : '';
        });
    };

    function showError(message) {
        // Hide the table and button in the event of error
        $('#ordertable').hide();

        // Display an error under the main container
        $('#main-container')
            .append("<label>" + message + "</label>");
    }

    $(async () => {
        var serviceURL = "http://127.0.0.1:5001/menu/";
        try {
            const response =
                await fetch(
                    serviceURL, { method: 'GET' }
                );
            const data = await response.json();
            var menuItems = data.menu;
            var menuDict = {}
            for (var i = 0; i < menuItems.length; i++) {
                menuDict[menuItems[i]['menuId']] = menuItems[i]['foodName']
            }
            window.menuDict = menuDict;
            console.log(menuDict);
        } catch (error) {
            showError("Error retrieving menu data: " + error);
        }
    });

    $(async () => {
        var serviceURL = "http://127.0.0.1:8010/ongoing-orders/";
        try {
            const response =
                await fetch(
                    serviceURL, { method: 'GET' }
                );
            const data = await response.json();
            var orders = data.orders; //the arr is in data.menu of the JSON data
            if (!orders || !orders.length) {
                $('#ordertable').append("<tr><td align='center' colspan='11'>Delivery List is empty or undefined.</td></tr>");
            } else {
                // console.log(orders);
                for (var i = 0; i < orders.length; i++) {
                    var eachRow = "<tr>";
                    // console.log(data[i]);
                    eachRow += "<td align='center'>" + (i + 1) + "</td>";
                    eachRow += "<td><table border='1'>";

                    for (var l = 0; l < orders[i]['orderItems'].length; l++) {
                        eachRow += '<tr><td>' + window.menuDict[orders[i]['orderItems'][l]['menuId']] + "</td>";
                        eachRow += '<td>' + orders[i]['orderItems'][l]['quantity'] + "</td></tr>";
                    }
                    eachRow += "</table></td>";

                    driverId = orders[i]['driverId']
                    if (!driverId) {
                        driverId = "-"
                    }
                    eachRow +=
                        "<td align='center'>" + orders[i]['customerName'] + "</td>" +
                        "<td align='center'>" + orders[i]['contactNumber'] + "</td>" +
                        "<td align='center'>" + orders[i]['datetime'] + "</td>" +
                        "<td align='center'>" + orders[i]['orderStatus'] + "</td>" +
                        "<td align='center'>" + driverId + "</td>";
                    eachRow += "<td align='center'>"
                    if (orders[i]['orderStatus'] == 'paid') {
                        eachRow += "<input type='button' id='preparing' name='preparing" + orders[i]['orderId'] + "' onclick=updateStatusPreparing('" + orders[i]['orderId'] + "') value='Start Preparing'/>"
                    } else if (orders[i]['orderStatus'] == 'preparing') {
                        eachRow += "<input type='button' id='delivering' name='delivering" + orders[i]['orderId'] + "' onclick=updateStatusDelivering('" + orders[i]['orderId'] + "') value='Send for delivery'/>"
                    } else {
                        eachRow += 'Order in delivery'
                    }
                    eachRow += "</td></tr>";
                    $('#ordertable').append(eachRow);
                }
            }
        } catch (error) {
            // Errors when calling the service; such as network error, 
            // service offline, etc
            showError
                ('There is a problem retrieving order data, please try again later.<br />' + error);

        } // error
    })
    $(async () => {
        var serviceURL = "http://127.0.0.1:5556/getFeedback";
        try {
            const response =
                await fetch(
                    serviceURL, { method: 'GET' }
                );
            const data = await response.json();
            var feedback = data.Feedback;
            var total = 0;
            var count = 0;
            for (var i = 0; i < feedback.length; i++) {
                var eachRow = "<tr>";
                // console.log(data[i]);
                eachRow += "<td align='center'>" + (i + 1) + "</td>" +
                    "<td align='center'>" + feedback[i]['datetime'] + "</td>" +
                    "<td align='center'>" + feedback[i]['feedback'] + "</td>" +
                    "<td align='center'>" + Math.round(feedback[i]['star'], 2) + "</td>" +
                    "</tr>";
                count++;
                total = total + parseInt(feedback[i]['star']);
                $('#feedbacktable').append(eachRow);
            }
            console.log(total);
            average = (total / count).toFixed(2);
            $('#feedbacktable').append("<tr><th colspan='3' class='text-right'>Average  Rating</th><th class='text-center'>" + average + "</th></tr>")
            // console.log(feedback);
        } catch (error) {
            showError("Error retrieving feedback data: " + error);
        }
    });

    async function updateStatusPreparing(selectedId) {
        var serviceURL = "http://127.0.0.1:8010/update-order/" + selectedId;
        try {
            const response =
                await fetch(
                    serviceURL, {
                    method: 'PUT', headers: {
                        'Content-Type': 'application/json'
                    }, body: JSON.stringify({ "orderStatus": "preparing" })
                });

            const data = await response.json();
            if (response.status != 200) {
                showError(data.message);
            } else {
                alert("Order Status updated successfully");
                location.reload(true);
            }
        } catch (error) {
            showError
                ('There is a problem updating order status, please try again later.<br />' + error);
        } // error
    }

    async function updateStatusDelivering(selectedId) {
        var serviceURL = "http://127.0.0.1:8000/allocate-order/{}".format(selectedId);
        var to_continue = true;
        try {
            const response =
                await fetch(
                    serviceURL, {
                    method: 'PUT'
                });
            const data = await response.json();
            if (response.status != 200) {
                alert(data.message);
                var to_continue = false;
            } else {
                alert("Order status updated successfully")
                location.reload(true);
            }
        } catch (error) {
            showError
                ('There is a problem retrieving books data, please try again later.<br />' + error);

        } // error 

        if (to_continue) {
            var serviceURL = "http://127.0.0.1:8010/update-order/" + selectedId;

            try {
                const response =
                    await fetch(
                        serviceURL, {
                        method: 'PUT', headers: {
                            'Content-Type': 'application/json'
                        }, body: JSON.stringify({ "orderStatus": 'delivering' })
                    });
                const data = await response.json();
                if (response.status != 200) {
                    showError(data.message);
                } else {
                    alert("Order Status updated successfully");
                    location.reload(true);
                }
            } catch (error) {
                showError
                    ('There is a problem updating order status, please try again later.<br />' + error);
            } // error 
        }
    }
</script>